.main{
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 16px 0px #0000000F;
}
.row{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cardCover img{
  width: 100%;
}
.cardBody{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cardBody a{
  display: inline-block;
  width: 100%;
  background-color:rgb(26, 94, 26);
  text-align: center;
  padding: 15px 0;
  border-radius: 7px;
  font-weight: 600;
  color: #fff;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 0px 5px red;
}
.cardBody a:hover{
  background-color: brown;
}
